.login__input {
  outline: none;
}

.login__input:focus {
  border-color: #4481c3;
}

.login__input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.login__input:valid:not(:placeholder-shown) {
  border-color: green;
}

.login__submit:disabled {
  cursor: default;
}
