.form__textarea {
  outline: none;
}

.form__textarea:focus {
  border-color: #4481c3;
}

.form__textarea:invalid:not(:placeholder-shown) {
  border-color: red;
}

.form__textarea:valid:not(:placeholder-shown) {
  border-color: green;
}

.form__submit:disabled {
  cursor: default;
}
